*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size:14px;
} aqui é so uma padronização geral

body{
	width:100%;
	min-height:100vh;
	background-color: rgb(243, 243, 243);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.inst_wrapper{
	display: flex;
	align-itens: center;
	justify-content: start;
	width: 60%;
	height: 100vh;
}

.insta_cel{
	display: flex;
	align-itens: center;
	justify-content: center;
	width: 50%;	
}

.insta_cel img{
	height:50ren;
}
